@import './themes';

@mixin themify() {
    @each $theme, $map in $themes {
        
        .theme-#{$theme} & {
            // Defines an empty map to create the required properties with values inside $themes
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            
            // This adds styles inside the new theme classes 
            @content;
            // Setting a variable to null will cause this to disappear in the compiled CSS
            // In this case, we will prevent this variable from being accessed from anywhere
            $theme-map: null !global;
        }
  
    }
}