$themes: (
  light: (
    background-color-primary: hsla(227, 100%, 98%, 1),
    background-color-secondary: hsla(0, 0%, 100%, 1),
    title-color: hsla(217, 21%, 21%, 1),
    text-color-primary: hsla(217, 20%, 51%, 1),
    text-color-secondary: hsla(217, 35%, 45%, 1),
    text-color-primary-active: hsla(220, 18%, 16%, 1),
    text-error-color: hsla(0, 91%, 62%, 1),
    input-color: hsla(220, 18%, 16%, 1),
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567),
  ),
  dark: (
    background-color-primary: hsla(220, 40%, 13%, 1),
    background-color-secondary: hsla(222, 41%, 20%, 1),
    title-color: hsla(0, 0%, 100%, 1),
    text-color-primary: hsla(0, 0%, 100%, 1),
    text-color-secondary: hsla(0, 0%, 100%, 1),
    text-color-primary-active: hsla(222, 44%, 70%, 1),
    text-error-color: hsla(0, 91%, 62%, 1),
    input-color: hsla(0, 0%, 100%, 1),
    box-shadow: none,
  ),
);