$white: hsla(0, 0%, 100%, 1);
$blue: hsla(212, 100%, 50%, 1);

$blue-hover: hsla(212, 100%, 69%, 1);

// Font-size
$font-sizes: 8, 11, 13, 14, 15, 16, 18, 22, 26;

// Margin
$bottom-margins: 8, 16, 24, 34;